@use "../abstracts/colors" as c;
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as *;

.btn {
  background: c.$cyan;
  padding: 1em 2em;
  border-radius: 9999px;
  font-family: inherit;
  font-size: inherit;
  color: white;
  transition: v.$main-transition;
  font-weight: bold;
  @include flex(row, center, center);

  &--square {
    border-radius: 0.35em;
  }

  &--small {
    font-size: 1rem;
  }

  &--accent {
    background: c.$dark-violet;
  }

  &:where(:hover, :focus-visible) {
    opacity: 0.5 !important;
  }
}
