@use "../base/functions" as func;
@use "../abstracts/colors" as c;
@use "../abstracts/variables" as v;

input[type="url"] {
  flex-grow: 1;
  padding: 1em;
  outline: none;
  border: none;
  border-radius: 0.5em;
  color: c.$very-dark-violet;
  border: func.rem(3) solid transparent;
  transition: v.$main-transition;
  font-size: inherit;
  font-family: inherit;

  &.invalid {
    border-color: c.$red;

    &::placeholder {
      color: c.$red;
      opacity: 0.5;
    }
  }
}
